@model SacramentalApp.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductingLeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductingLeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseningSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseningSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseningPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseningPrayer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
