@model PaginatedList<SacramentalApp.Models.Meeting>
@{
    ViewData["Title"] = "Index";
}

<h1>Meetings</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group row">
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-append">
                    <input type="text" id="searchBox" name="SearchString" class="form-control" placeholder="Conducting Leader" value="@ViewData["currentFilter"]" />
                </div>
            </div>
        </div>
        <label for="startDate" class="col-sm-1 col-form-label pull-right">Since:</label>
        <div class="col-sm-2">
            <input type="date" class="form-control" id="startDate" name="DateInit" value="@ViewData["dateInitFilter"]" />
        </div>
        <label for="endDate" class="col-sm-1 col-form-label pull-right">To:</label>
        <div class="col-sm-2">
            <input type="date" class="form-control" id="endDate" name="DateEnd" value="@ViewData["dateEndFilter"]" />
        </div>
        <div class="col-sm-1">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
        <div class="col-sm-1">
            <a class="btn btn-danger mb-2" asp-action="Index">Reload</a>
        </div>
    </div>
</form>
<div class="row result">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="border-bottom">
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-dateInitFilter="@ViewData["DateInitFilter"]" asp-route-dateEndFilter="@ViewData["DateEndFilter"]"> Date</a>
                    </th>
                    <th>
                       Conducting Leader
                    </th>
                    <th>
                        Opening Song
                    </th>
                    <th>
                        Opening Prayer
                    </th>
                    <th>
                        Sacrament Hymn
                    </th>
                    <th>
                        Intermediate Hymn
                    </th>
                    <th>
                        Closening Song
                    </th>
                    <th>
                        Closening Prayer
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConductingLeader)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpeningSong)
                        </td>
                        <td class="note-cell">
                            @Html.DisplayFor(modelItem => item.OpeningPrayer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SacramentHymn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IntermediateHymn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CloseningSong)
                        </td>
                        <td class="note-cell">
                            @Html.DisplayFor(modelItem => item.CloseningPrayer)
                        </td>
                        <td class="note-cell">
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                            <a class="btn btn-primary" asp-action="EditSpeakers" asp-route-id="@item.Id" title="Manage Speakers"><i class="fa fa-users"></i></a>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="fa fa-file-o"></i></a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-warning" asp-action="Print" asp-route-id="@item.Id" title="Print"><i class="fa fa-print"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-dateInitFilter="@ViewData["DateInitFilter"]"
   asp-route-dateEndFilter="@ViewData["DateEndFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-dateInitFilter="@ViewData["DateInitFilter"]"
   asp-route-dateEndFilter="@ViewData["DateEndFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>