@model SacramentalApp.Models.Speech

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Speech</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameSpeaker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameSpeaker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="btn btn-warning"  asp-controller="Meetings" asp-action="EditSpeakers" asp-route-id="@Model.MeetingId">Back to Meeting</a>

</div>
